.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[aria-current="page"] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.logo {
  color: var(--mantine-color-blue-filled);
  font-weight: bold;
}

.theme {
  align-items: center;
  background-color: transparent;
  border: calc(0.0625rem * var(--mantine-scale)) solid;
  border-radius: var(--mantine-radius-md);
  display: flex;
  height: calc(2.125rem * var(--mantine-scale));
  justify-content: center;
  width: calc(2.125rem * var(--mantine-scale));
}

.theme svg {
  height: calc(1.375rem * var(--mantine-scale));
  width: calc(1.375rem * var(--mantine-scale));
}

[data-mantine-color-scheme="dark"] .theme svg + svg {
  display: none;
}

[data-mantine-color-scheme="light"] .theme svg:first-child {
  display: none;
}